*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  --font-size-main: calc(10px + 1vmin);
  --item-gap: 0.25rem;
  --part-gap: calc(0.7rem + 1vmin);
  --base-bg: rgb(247, 247, 247);
  --invalid-cl: #dc3545;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--font-size-main);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

.mt-2 {
  margin-top: 0.5rem;
}

.w-100 {
  width: 100%;
}

.page {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 960px;
  margin: 0 auto;
  row-gap: var(--part-gap);
  padding: 0 0.5rem 0 0.5rem;
}

.page .page__header {
  padding: 1rem;
}

.page__body {
  flex-grow: 1;
  display: flex;
  column-gap: var(--part-gap);
}

.content__section {
  width: 75%;
  background-color: var(--base-bg);
  order: 1;
}

.aside__section {
  width: 25%;
  background-color: var(--base-bg);
  order: 2;
}

.input-control {
  width: 100%;
  display: block;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  font-size: 1rem;
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
}

.invalid {
  border-color: var(--invalid-cl);
}

.invalid-input {
  display: none;
  width: 100%;
  color: var(--invalid-cl);
  font-size: 0.875em;
  margin-top: 0.25rem;
}

.input-control.invalid ~ .invalid-input {
  display: block;
}

.btn {
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  font-size: 1rem;
}

.btn-primary {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}
.btn-primary:hover {
  color: #fff;
  background-color: #0b5ed7;
  border-color: #0a58ca;
}

.btn-primary:disabled {
  color: #212529;
  background-color: #ced4da;
  border-color: antiquewhite;
}

@media screen and (max-width: 600px) {
  .page__body {
    flex-grow: 1;
    display: flex;
    gap: var(--part-gap);
    flex-direction: column;
  }

  .content__section {
    order: 2;
    width: 100%;
  }

  .aside__section {
    order: 1;
    width: 100%;
  }
}

@media screen and (min-width: 600px) {
  .gallery__item {
    flex: 1 0 100%;
  }
}

@media screen and (min-width: 800px) {
  .gallery__item {
    flex: 1 0 49%;
  }
}

@media screen and (min-width: 960px) {
  .gallery__item {
    flex: 1 0 32.9%;
  }
}

.queue-info-container {
  display: flex;
  gap: 0.3rem;
  align-items: baseline;
}

.flex-container {
  margin-top: 0.2rem;
  display: flex;
  gap: 0.3rem;
  align-items: flex-start;
  justify-content: space-between;
}

.flex-column-container {
  margin-top: 0.2rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.flex-column-container .item {
  display: flex;
  justify-content: end;
}

.queue-item {
  background-color: blueviolet;
  color: white;
  text-align: center;
  padding: 0.25rem;
  border-radius: 0.3rem;
}

.queue-item-removed {
  background-color: gray;
  color: black;
}
