*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  --font-size-main: calc(10px + 1vmin);
  --item-gap: 0.25rem;
  --part-gap: calc(0.7rem + 1vmin);
  --base-bg: rgb(247, 247, 247);
  --default-form-el-padding: 0.375rem 0.75rem;
  --default-el-border-radius: 0.25rem;
  --flex-container-df-mt: 0.2rem;

  --invalid-cl: #dc3545;
  --primary-bg-cl: #0d6efd;
  --primary-bg-cl-hovered: #0b5ed7;
  --primary-bg-cl-border-hovered: #0a58ca;

  --info-bg-cl: #0ea7e9;
  --info-bg-cl-hovered: #0db5fd;

  --primary-cl-black: #212529;
  --primary-cl-white: white;
  --primary-cl-violet: blueviolet;
  --primary-cl-gray: gray;
  --primary-cl-disabled-white: #ced4da;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--font-size-main);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  margin-top: 4rem;
}
