.movie-item {
  list-style: none;
  padding: 0.5rem;
  border: 1px solid rgb(214, 214, 214);
  border-radius: 0.25rem;
  transition: transform 0.2s;
  cursor: pointer;
  flex-shrink: 1;
}

.movie-bottom-side {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 0.25rem;

  .img-container {
    max-height: 150px;
    max-width: 100px;

    img {
      max-width: 100%;
      height: auto;
      vertical-align: middle;
    }
  }

  .movie-actions {
    flex-grow: 0;
    flex-shrink: 0;
  }

  @media screen and (max-width: 300px) {
    flex-direction: column;
    align-items: flex-start;
  }
}
